# PostgreSQL Docker
POSTGRES_DB=brewery_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_TZ=UTC

# Spring Boot
DB_URL=jdbc:postgresql://localhost:5432/brewery_db
DB_USERNAME=postgres
DB_PASSWORD=change_me