# =========================
# Java
# =========================

*.class
*.jar
*.war
*.ear

hs_err_pid*


# =========================
# Maven / Gradle
# =========================

target/
.gradle/
build/

pom.xml.*.backup


# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml
*.iws
*.ipr


# =========================
# Eclipse
# =========================

.classpath
.project
.settings/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Environment / Secrets
# =========================

.env
*.env

application-local.properties
application-local.yml


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Temporary files
# =========================

*.tmp
*.swp